.titleContainer {
	.titleButton {
		min-width: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 8px;

		.icon {
			margin-left: 4px;
			font-size: 12px;
		}
	}
}

.menuItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 8px;

	.menuText {
		font-weight: 500;
	}

	.menuDesc {
		color: rgba(0, 0, 0, 0.45);
		font-size: 12px;
	}
}
