.content {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}

.editor {
	padding: 0 16px;
	flex: 1;
	overflow: auto;
	height: 100%;
}

.contentBottom {
	display: flex;
	flex: 1;
	overflow: auto;
}
